html {
  --font-1: 'Alice', serif;
  --font-2: 'Oxygen Mono', monospace;
  --black: #000;
}

body {
  font-family: var(--font-1);
}

body,
p,
h1,
h2,
h3,
ul,
li,
figure {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  display: block;
  max-width: 100%;
}

.logo {
  display: block;
  max-width: 180px;
  margin: 1rem auto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1232px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

#superinfo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #000;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  #superinfo {
    flex-direction: column;
    gap: 0.5rem;
  }
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
  gap: 2rem;
  flex-wrap: wrap;
}

#nav {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.btn {
  display: block;
  border: 2px solid #000;
  padding: 0.5rem 0 0.5rem 0.75rem;
  min-width: 10rem;
  box-sizing: border-box;
  font-size: 1.25rem;
}

.btn:hover {
  background: #000;
  color: #fff;
}

@media (max-width: 1232px) {
  #header {
    margin-bottom: 2rem;
  }
  #nav {
    gap: 1rem;
  }
  #nav li {
    flex: 1;
  }
  .btn {
    min-width: 6rem;
  }
}

/* CONTENT */

.wrapper {
  margin-left: calc((100vw - 1200px) / 2);
  padding-right: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: minmax(auto, 36rem) 1fr;
  gap: 4rem;
  align-items: start;
}

.descricao {
  max-width: 36rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  max-width: 40rem;
}

.subtitle {
  font-size: 2.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin-bottom: 2rem;
}

.subsubtitle {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.textbody {
  font-size: 0.875rem;
  font-family: var(--font-2);
  max-width: 30rem;
}

.textbody p + p {
  margin-top: 1rem;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 60rem;
}

@media (max-width: 1232px) {
  .wrapper {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 0;
  }
  .title {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .galeria {
    gap: 1rem;
  }
}

@media (max-width: 540px) {
  .galeria {
    grid-template-columns: 1fr;
  }
}

.precos-lista {
  background: rgba(255, 255, 255, 0.4);
}

.precos-lista li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  font-family: var(--font-2);
  font-size: 0.875rem;
  max-width: 30rem;
  padding: 1rem 0;
}

.precos-lista li::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid;
  border-left: none;
  border-top: none;
  margin-top: 4px;
}

.precos-lista li span {
  margin-left: 1rem;
  color: #888;
}

.sabores-lista {
  padding-bottom: 1rem;
}

.sabores-lista li {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

.sabores-lista li::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 2px;
  background: #000;
  margin-right: 0.5rem;
}

#doces {
  margin-top: 6rem;
}

.contato-meios {
  text-align: center;
  margin-top: 4rem;
  font-size: 2.5rem;
  border-top: 2px solid;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#contato h2 {
  font-size: 2.5rem;
}

.contato-endereco {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 2rem;
  font-family: var(--font-2);
  justify-content: space-between;
}

.contato-endereco .right {
  text-align: right;
}

.contato-endereco-sep {
  font-size: 2.5rem;
  font-family: var(--font-1);
}

@media (max-width: 600px) {
  .contato-meios,
  #contato h2 {
    font-size: 1.5rem;
  }
  .contato-endereco {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    gap: 0.75rem;
  }
  .contato-endereco .right {
    text-align: center;
  }
  .contato-endereco-sep {
    font-size: 1.5rem;
  }
}

#whatsapp {
  width: max-content;
  padding: 0.5rem 2rem 0.7rem 2rem;
  line-height: 1;
  border-radius: 50px;
  margin: 0.5rem auto;
  background: pink;
  display: flex;
  align-items: center;
  color: white;
  gap: 2rem;
  background: url('./img/bg-button.jpg') no-repeat center center;
}

#whatsapp::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  margin-top: 5px;
  background: url('./img/whatsapp.svg') no-repeat;
}

.footer {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1.5rem;
  font-family: var(--font-1);
  color: #f99;
}

.footer img {
  max-width: 200px;
  height: 100%;
  margin: 0 auto 2rem auto;
}
